body {
   width: 1440px;
    
    
}
header img {
    width: 91px;
    margin-top: -8px;
}
header {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    
    padding: 15px;
    flex-wrap:nowrap ;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.header-content{
    display: flex;
    border: 1px solid ;
    position: relative;
    border-radius: 40px;
    background-color: lightgray;
}
.header-content i{
    width: 10%;
    position: relative;
    padding: 9px;
    text-align: center;

}
.header-content input{
    width: 90%;
    border: none;
    background-color: lightgray;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;

}
.header-content input:focus{
    outline: none;
}
nav{
    border-bottom: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 3px 2px -2px gray;
}
nav >ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
nav > ul >li {
    padding: 0px 20px;
}
.article{
    position: relative;
    box-sizing: border-box;
}
.article img {
    width: 100%;
    object-fit: cover;
}
.article div{
    position: absolute;
    top: 10%;

    left:10%;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 3px 3px 3px 3px gray;
    background-color: white;
    width: 30%;
 
    padding: 24px;
}
.article div input{
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
}
main {
    padding:0px 15px;
}
.my-learning__title{
    display: flex;
    position: relative;

    
}
.my-learning{
    display: flex;
    justify-content: center;
}
.my-learning__title__content{
    position: absolute;
    margin-top: 21px;
    right: 10px;
    
}
.my-learning__content{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:0px 10px;
    
}
.my-learning__content__title{
    color: gray;
}
.my-learning__content__section-name{
    margin-bottom: 2em;
}
.my-learning__content__time{
    color:gray;
}
.lecture-recommend{
    border: 1px solid rgba(0,0,0,0.2);
    padding: 15px;
}
.lecture-recommend__content{
    display: flex;
}
.lecture-recommend__content__img{
    margin-right: 2em;
}
.fa-star{
    color: darkorange;
}
button{
    border: none;
    background-color: beige;

}
.lecture-list{
    display: flex;
    justify-content: space-between;

}
.lecture-list__content{
    width: 240px;
}
.recommend__subject{
    margin-bottom: 2em;
}
.recommend__subject__line{
    display: flex;
    justify-content: space-between;

}
.recommend__subject__box{
    width: 20%;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.2);
    margin: 5px;
    padding: 20px;
    font-weight: 700;
}
footer{
    background-color: black;
    color: white;
   
}
.footer__block1{
    display: flex;
    padding: 20px;
    border-bottom: rgba(0,0,0,0.2);
    border-color: white;
}
.footer__block1 :nth-child(1){
 
    font-weight: 800;
}
.footer__block1 input{
    margin-left: 60em;
    border: 1px solid;
    background-color: black;
    color: white;

}
.footer__block2{
    padding: 20px;
    display: flex;
    border-bottom: 2px;
    border-color: wheat;
}
.icons{
    margin-left: 20em;
}
.icons img {
    margin: 0px 5px;
}
.footer__block3{
    display: flex;
    padding: 20px;
}
.footer__block3 div{
    width: 50%;
    display: flex;
    justify-content: space-between;
   
}
.footer__block3 ul{
    list-style-type: none;

}
.footer__block3 button{
    background-color: black;
    color: white;
    border: 1px solid;
    width: 100px;
    height: 50px;
    
    margin-left: 40em;
    
}
.footer__block4{
    display: flex;
   
}
.footer__block4__img{
    padding: 0px 15px;
    margin-bottom: 20px;
}
